body {
  background-color: #93032e;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ffc8a9;
}

.foodButtons {
  display: inline-grid;
  /* align-items: center; */
  grid-template-columns: repeat(5, 210px);
}

.foodButton {
  place-self: center;

  background-color: #a49f5e;
  font-size: large;
  color: rgb(227, 227, 227);
  border: none;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.5s;
}

.foodButton:hover {
  background-color: #938f53;
  transition: all 0.5s;
}

.foodButton:focus {
  outline: 0;
}

.foodButton:active {
  display: inline;
  height: 195px;
  width: 195px;
  transition: all 0.1s;
}

.otherButton {
  background-color: #93032e;
  color: #ffc8a9;
  border: 2px solid #ffc8a9;
  height: 35px;
  width: 100px;
  margin: 0px 5px;
  border-radius: 5px;
  transition: all 0.5px;
}
.otherButton:hover {
  background-color: #ffc8a9;
  color: #93032e;
  transition: all 0.5s;
}

.otherButton:focus {
  outline: 0;
}

svg {
  height: 500px;
  width: 500px;
}
